openapi: 3.1.0
info:
  title: Rakuten Web Services API
  description: |
    Public Rakuten Web Services (RWS) REST/JSON APIs for searching the Rakuten
    Ichiba marketplace (item search, genre search, item ranking). All endpoints
    require a Rakuten application ID and access key.
  version: "20260401"
  contact:
    name: Rakuten Web Services
    url: https://webservice.rakuten.co.jp/
servers:
  - url: https://app.rakuten.co.jp
    description: Public Rakuten Web Services base host
  - url: https://openapi.rakuten.co.jp
    description: Rakuten OpenAPI host (used by current RWS endpoints)
security:
  - applicationId: []
    accessKey: []
paths:
  /ichibams/api/IchibaItem/Search/20260401:
    get:
      summary: Search Ichiba items
      description: |
        Keyword and parameter search across all Rakuten Ichiba items.
        At least one of keyword, shopCode, itemCode, or genreId is required.
      operationId: searchIchibaItems
      servers:
        - url: https://openapi.rakuten.co.jp
      parameters:
        - $ref: '#/components/parameters/applicationId'
        - $ref: '#/components/parameters/accessKey'
        - name: keyword
          in: query
          description: UTF-8 URL-encoded search keyword, max 128 bytes, minimum 2 characters.
          schema:
            type: string
        - name: shopCode
          in: query
          description: Shop identifier from URL.
          schema:
            type: string
        - name: itemCode
          in: query
          description: Item code in the format "shop:1234".
          schema:
            type: string
        - name: genreId
          in: query
          description: Numeric Ichiba genre identifier.
          schema:
            type: integer
            format: int64
        - name: hits
          in: query
          description: Number of results per page (1-30).
          schema:
            type: integer
            minimum: 1
            maximum: 30
            default: 30
        - name: page
          in: query
          description: Page number (1-100).
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 1
        - name: sort
          in: query
          description: Sort order (e.g. "+itemPrice", "-reviewAverage").
          schema:
            type: string
        - name: minPrice
          in: query
          schema:
            type: integer
            format: int64
        - name: maxPrice
          in: query
          schema:
            type: integer
            format: int64
        - name: format
          in: query
          schema:
            type: string
            enum: [json, xml]
            default: json
        - name: callback
          in: query
          schema:
            type: string
        - name: elements
          in: query
          schema:
            type: string
        - name: formatVersion
          in: query
          schema:
            type: integer
            enum: [1, 2]
      responses:
        '200':
          description: Search results.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IchibaItemSearchResponse'
  /ichibagt/api/IchibaGenre/Search/20260401:
    get:
      summary: Get Ichiba genre tree
      description: |
        Returns ancestors, current genre, siblings, children, and attributes
        for a given genre. Use genreId=0 for the root.
      operationId: searchIchibaGenre
      servers:
        - url: https://openapi.rakuten.co.jp
      parameters:
        - $ref: '#/components/parameters/applicationId'
        - $ref: '#/components/parameters/accessKey'
        - name: genreId
          in: query
          required: true
          schema:
            type: string
        - name: affiliateId
          in: query
          schema:
            type: string
        - name: format
          in: query
          schema:
            type: string
            enum: [json, xml]
            default: json
        - name: callback
          in: query
          schema:
            type: string
        - name: elements
          in: query
          schema:
            type: string
        - name: formatVersion
          in: query
          schema:
            type: integer
            enum: [1, 2]
      responses:
        '200':
          description: Genre tree response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IchibaGenreSearchResponse'
  /ichibaranking/api/IchibaItem/Ranking/20220601:
    get:
      summary: Get Ichiba item ranking
      description: Returns top-ranked Ichiba items by genre, age, gender, carrier.
      operationId: getIchibaItemRanking
      servers:
        - url: https://openapi.rakuten.co.jp
      parameters:
        - $ref: '#/components/parameters/applicationId'
        - $ref: '#/components/parameters/accessKey'
        - name: genreId
          in: query
          schema:
            type: integer
            format: int64
        - name: age
          in: query
          schema:
            type: integer
            enum: [10, 20, 30, 40, 50]
        - name: sex
          in: query
          description: 0=Male, 1=Female.
          schema:
            type: integer
            enum: [0, 1]
        - name: page
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 34
        - name: carrier
          in: query
          description: 0=PC, 1=Mobile.
          schema:
            type: integer
            enum: [0, 1]
        - name: format
          in: query
          schema:
            type: string
            enum: [json, xml]
            default: json
        - name: callback
          in: query
          schema:
            type: string
      responses:
        '200':
          description: Ranking response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IchibaItemRankingResponse'
components:
  securitySchemes:
    applicationId:
      type: apiKey
      in: query
      name: applicationId
      description: Rakuten application ID (issued from the RWS developer console).
    accessKey:
      type: apiKey
      in: query
      name: accessKey
      description: Rakuten RWS access key. May also be supplied as an HTTP header.
  parameters:
    applicationId:
      name: applicationId
      in: query
      required: true
      description: Rakuten application ID.
      schema:
        type: string
    accessKey:
      name: accessKey
      in: query
      required: true
      description: Rakuten access key (may be sent as a header instead).
      schema:
        type: string
  schemas:
    IchibaItemSearchResponse:
      type: object
      properties:
        count:
          type: integer
        page:
          type: integer
        first:
          type: integer
        last:
          type: integer
        hits:
          type: integer
        pageCount:
          type: integer
        Items:
          type: array
          items:
            $ref: '#/components/schemas/IchibaItem'
    IchibaItem:
      type: object
      properties:
        itemName:
          type: string
        itemCode:
          type: string
        itemPrice:
          type: integer
        itemUrl:
          type: string
        affiliateUrl:
          type: string
        shopName:
          type: string
        shopCode:
          type: string
        reviewCount:
          type: integer
        reviewAverage:
          type: number
        availability:
          type: integer
        smallImageUrls:
          type: array
          items:
            type: string
        mediumImageUrls:
          type: array
          items:
            type: string
    IchibaGenreSearchResponse:
      type: object
      properties:
        ancestors:
          type: array
          items:
            $ref: '#/components/schemas/Genre'
        current:
          $ref: '#/components/schemas/Genre'
        children:
          type: array
          items:
            $ref: '#/components/schemas/Genre'
        siblings:
          type: array
          items:
            $ref: '#/components/schemas/Genre'
    Genre:
      type: object
      properties:
        genreId:
          type: integer
          format: int64
        genreName:
          type: string
        genreLevel:
          type: integer
    IchibaItemRankingResponse:
      type: object
      properties:
        title:
          type: string
        lastBuildDate:
          type: string
        Items:
          type: array
          items:
            $ref: '#/components/schemas/RankedItem'
    RankedItem:
      type: object
      properties:
        rank:
          type: integer
        itemName:
          type: string
        itemPrice:
          type: integer
        itemUrl:
          type: string
        affiliateUrl:
          type: string
        mediumImageUrls:
          type: array
          items:
            type: string
        shopName:
          type: string
        shopCode:
          type: string
        shopUrl:
          type: string
        reviewCount:
          type: integer
        reviewAverage:
          type: number
        availability:
          type: integer
        taxFlag:
          type: integer
        postageFlag:
          type: integer
        creditCardFlag:
          type: integer
