openapi: 3.1.0
info:
  title: Rakuten Web Services Ichibagt Ichibams API
  description: 'Public Rakuten Web Services (RWS) REST/JSON APIs for searching the Rakuten

    Ichiba marketplace (item search, genre search, item ranking). All endpoints

    require a Rakuten application ID and access key.

    '
  version: '20260401'
  contact:
    name: Rakuten Web Services
    url: https://webservice.rakuten.co.jp/
servers:
- url: https://app.rakuten.co.jp
  description: Public Rakuten Web Services base host
- url: https://openapi.rakuten.co.jp
  description: Rakuten OpenAPI host (used by current RWS endpoints)
security:
- applicationId: []
  accessKey: []
tags:
- name: Ichibams
paths:
  /ichibams/api/IchibaItem/Search/20260401:
    get:
      summary: Search Ichiba items
      description: 'Keyword and parameter search across all Rakuten Ichiba items.

        At least one of keyword, shopCode, itemCode, or genreId is required.

        '
      operationId: searchIchibaItems
      servers:
      - url: https://openapi.rakuten.co.jp
      parameters:
      - $ref: '#/components/parameters/applicationId'
      - $ref: '#/components/parameters/accessKey'
      - name: keyword
        in: query
        description: UTF-8 URL-encoded search keyword, max 128 bytes, minimum 2 characters.
        schema:
          type: string
      - name: shopCode
        in: query
        description: Shop identifier from URL.
        schema:
          type: string
      - name: itemCode
        in: query
        description: Item code in the format "shop:1234".
        schema:
          type: string
      - name: genreId
        in: query
        description: Numeric Ichiba genre identifier.
        schema:
          type: integer
          format: int64
      - name: hits
        in: query
        description: Number of results per page (1-30).
        schema:
          type: integer
          minimum: 1
          maximum: 30
          default: 30
      - name: page
        in: query
        description: Page number (1-100).
        schema:
          type: integer
          minimum: 1
          maximum: 100
          default: 1
      - name: sort
        in: query
        description: Sort order (e.g. "+itemPrice", "-reviewAverage").
        schema:
          type: string
      - name: minPrice
        in: query
        schema:
          type: integer
          format: int64
      - name: maxPrice
        in: query
        schema:
          type: integer
          format: int64
      - name: format
        in: query
        schema:
          type: string
          enum:
          - json
          - xml
          default: json
      - name: callback
        in: query
        schema:
          type: string
      - name: elements
        in: query
        schema:
          type: string
      - name: formatVersion
        in: query
        schema:
          type: integer
          enum:
          - 1
          - 2
      responses:
        '200':
          description: Search results.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IchibaItemSearchResponse'
      tags:
      - Ichibams
components:
  parameters:
    accessKey:
      name: accessKey
      in: query
      required: true
      description: Rakuten access key (may be sent as a header instead).
      schema:
        type: string
    applicationId:
      name: applicationId
      in: query
      required: true
      description: Rakuten application ID.
      schema:
        type: string
  schemas:
    IchibaItem:
      type: object
      properties:
        itemName:
          type: string
        itemCode:
          type: string
        itemPrice:
          type: integer
        itemUrl:
          type: string
        affiliateUrl:
          type: string
        shopName:
          type: string
        shopCode:
          type: string
        reviewCount:
          type: integer
        reviewAverage:
          type: number
        availability:
          type: integer
        smallImageUrls:
          type: array
          items:
            type: string
        mediumImageUrls:
          type: array
          items:
            type: string
    IchibaItemSearchResponse:
      type: object
      properties:
        count:
          type: integer
        page:
          type: integer
        first:
          type: integer
        last:
          type: integer
        hits:
          type: integer
        pageCount:
          type: integer
        Items:
          type: array
          items:
            $ref: '#/components/schemas/IchibaItem'
  securitySchemes:
    applicationId:
      type: apiKey
      in: query
      name: applicationId
      description: Rakuten application ID (issued from the RWS developer console).
    accessKey:
      type: apiKey
      in: query
      name: accessKey
      description: Rakuten RWS access key. May also be supplied as an HTTP header.
